includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
    level: 9
    ignoreErrors:
        - '#Access to an undefined property#'
    excludePaths:

    checkGenericClassInNonGenericObjectType: false
